<!--Header Efisio-->
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-custom shadow fixed-top">
  <div class="container" >
    <a class="navbar-brand logo-img" href="#">
      <img src="/assets/img/academy.png" alt="logo" class="logo-img">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="navbar-brand" href="meteocovid">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="graphics">Charts</a>
        </li>
        <li class="nav-item" style="margin-right:15px">
          <a class="navbar-brand" href="docs">Docs</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-light" href="login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- claim spacer -->
<!-- <div class="text-center" id="claim-div">
    <i class="fas fa-quote-left fa-xs"></i>
    <span class="text-claim">Together we fight against COVID</span>
    <i class="fas fa-quote-right fa-xs"></i>
</div> -->