<!--Header Efisio-->
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">
        <a class="navbar-brand logo-img" href="#">
            <img src="/assets/img/academy.png" alt="logo"
            class="logo-img">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">            
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:4200/dashboard">Dashboard
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="apicoronatest">Api Covid</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="meteocovid">Api Meteo</a>
                </li>
            
                <li class="nav-item">
                    <a class="nav-link" href="graphics">Grafici</a>
                </li>
                <li class="nav-item" style="margin-right:15px">
                    <a class="nav-link" href="docs">Docs</a>
                </li> 
                
                              
                <li class="nav-item" >
                    <a class="btn btn-success" href="login">Login</a>
                </li>              
            </ul>
        </div>
    </div>
</nav>


<!-- claim spacer -->
<!-- <div class="text-center" id="claim-div">
    <i class="fas fa-quote-left fa-xs"></i>
    <span class="text-claim">Together we fight against COVID</span>
    <i class="fas fa-quote-right fa-xs"></i>
</div> -->