<body>
  <div class="container">
    <div class="row">
      <div class="col-md-7 mt-5 mx-auto">        
          <form (ngSubmit)="login()" class="box" #loginForm="ngForm">
            <h1>Sign In</h1>
            <p class="text-muted"> Please enter your login and password!</p>
            <input type="text" placeholder="Username" id="name" required [(ngModel)]="userName" name="userName">
            <input type="password" placeholder="Password" id="pwd" required [(ngModel)]="pwd" name="pwd">
            <a class="forgot text-muted" [routerLink]='["../register"]'>Are you new here? Sign in!</a>
            <input type="submit" name="" value="Login" [disabled]="!loginForm.valid">
          </form>        
      </div>
    </div>
  </div>
</body>