<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-left">
                <div class="margin-text-app">
                    <h2 class="font-weight-light text-white covid-text">Covid Analysis
                    </h2>
                    <hr class="logo-divider">                   
                </div>
            </div>
        </div>
    </div>
</header>
<button type="button" id="DashboardRedirectButton" class="btn btn-success" [routerLink]="['../login']">Login <i class="fa fa-arrow-right" aria-hidden="true"></i></button>