<div>
 <div class="row">
  <button class="btn btn-primary mr-5" [routerLink]="['/dashboard']">Back</button>
<!--<button class="btn btn-primary mb-3" (click)="getMeteoApiData(form)">Select Cauntrie</button>-->
<form class="pt-5" (ngSubmit)="getMeteoApiData(form)" #form="ngForm">
  <div class="form-group row">
      <label for="city" class="col-sm-2 col-form-label"></label>
      <div class="col-sm-10">
          <select class="form-control" id="city" ngModel required name="city">
              <option *ngFor="let city of europe"> {{city}} </option> 
          </select>
      </div>
  </div>
  <button type="submit" [disabled]="!form.valid" class="btn btn-success">Submit City</button>

</form>
</div>

<div class="container p-5">
    <h1 class="text-center mb-5">
      Weather Data
    </h1>
  <div class="container">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Countrie</th>
          <th scope="col">Date</th>
          <th scope="col">Temperature</th>
          <th scope="col">Humidity</th>
          <th scope="col">Air Quality Index</th>
        </tr>
      </thead>
      <tbody>
        <tr class="pointer" *ngFor="let entry of meteoDataArray">
          <th scope="row"> {{entry.data.timezone}}</th>
          <td>{{entry.data.current.temperature}}</td>
          <td>{{entry.data.current.relHumidity}}</td>
          <td>{{entry.data.current.airQualityIndex}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>