<br><br><div>
<div class="container">

</div>
<!-- getCountryCovidData(form : NgForm) -->
<div class="container p-5">
    <!-- Bottone per avere i dati covid/meteo di tutte le nazioni -->
    <button class="btn btn-secondary" (click)="getAllData()">Scarica i dati di tutta Europa</button>
    <!-- Selettore per scegliere la nazione di cui si vogliono avere i dati covid/meteo -->
    <div class="text-right">
    <form class="pt-5" (ngSubmit)=" getCovidMeteoApiData(form)" #form="ngForm">
        <div class="form-group row">
            <label for="country" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <select class="form-control" id="country" ngModel required name="country">
                    <option *ngFor="let country of europeCountries"> {{country}} </option>
                </select>
            </div>
        </div>
        <!-- La chiamata alla funzione parte alla pressione del tasto submit -->
        <button type="submit" [disabled]="!form.valid" class="btn btn-success">Ricerca per singola Nazione</button>
    </form>
</div>
</div>


<table width="100%">
    <tr>
        <td>
            <table class="table" width="75%">
                <thead class="thead-dark" width="75%">
                    <tr width="75%">
                        <th scope="col">Nazione</th>
                        <th scope="col">Popolazione</th>
                        <th scope="col">Data di riferimento</th>
                        <th scope="col">Casi di oggi</th>
                        <th scope="col">Morti di oggi</th>
                        <th scope="col">Storico morti</th>
                        <th scope="col">Storico casi</th>
                        <th scope="col">Morti %</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="pointer" *ngFor="let entry of covidCountriesDataArray">
                        <th scope="row"> {{entry.data.name}}</th>
                        <td>{{entry.data.population}}</td>
                        <td>{{entry.data.updated_at}}</td>
                        <td>{{entry.data.today.confirmed}}</td>
                        <td>{{entry.data.today.deaths}}</td>
                        <td>{{entry.data.latest_data.deaths}}</td>
                        <td>{{entry.data.latest_data.confirmed}}</td>
                        <td>{{entry.data.latest_data.calculated.death_rate}}</td>

                    </tr>
                </tbody>
            </table>
        </td>
        <td>
            <table class="table" width="25%">
                <thead class="thead-dark" width="25%">
                    <tr width="25%">
                        <th scope="col">Capitale</th>
                        <th scope="col">Temp. °C</th>
                        <th scope="col">Umidità</th>
                        <th scope="col">AQI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="pointer" *ngFor="let entry of meteoDataArray">
                        <th scope="row"> {{entry.data.timezone}}</th>
                        <td>{{entry.data.current.temperature}}</td>
                        <td>{{entry.data.current.relHumidity}}</td>
                        <td alt="Air Quality Index">{{entry.data.current.airQualityIndex}}</td>

                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
