<body>
  <br><br>

<div class="header_section col mt-4 mx-auto" >
  <div class="container" >
    <div class="container_main ">
      <!-- Bottone che restituisce i dati di tutta europa -->
      <div class="btn">
      <button class="btn btn-outline-light" (click)="getAllData()">All Europe</button>
      </div>
      <!--Bottone di prova-->
      <div class="btn">
      <button class="btn btn-outline-light" (click)="clearAllData()">Clear</button>
    </div>
          <!-- getCountryCovidData(form : NgForm) -->
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <form class="btn-group" (ngSubmit)=" getCovidMeteoApiData(form)" #form="ngForm">
          <div class="btn-group" role="group" style="width: 450px;">
            <!-- Menù a tendina che seleziona i dati di una città -->
            <select class="form-control" id="country" ngModel required name="country">
              <option *ngFor="let country of europeCountries"> {{country}} </option>
            </select>
          </div>
          <!-- Bottone che restituisce i dati di una città-->
          <button class="btn btn-outline-light" type="submit" [disabled]="!form.valid">Submit Country</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="header_section col-10 mx-auto " >
  
<table width="100%" >
  <tr>
    <td>
      <table class="table table-striped" width="75%">
        <thead class="thead-light " width="75%">
          <tr width="75%">
            <th scope="col">Nation</th>
            <th scope="col">Population</th>
            <th scope="col">Updated to</th>
            <th scope="col">Cases of today</th>
            <th scope="col">Dead today</th>
            <th scope="col">All deaths</th>
            <th scope="col">All cases</th>
            <th scope="col">Deaths %</th>
          </tr>
        </thead>
        <tbody>
          <tr class="pointer" *ngFor="let entry of covidCountriesDataArray">
            <th scope="row" type="nations"> {{entry.data.name}}</th>
            <td>{{entry.data.population}}</td>
            <td>{{entry.data.updated_at}}</td>
            <td>{{entry.data.today.confirmed}}</td>
            <td>{{entry.data.today.deaths}}</td>
            <td>{{entry.data.latest_data.deaths}}</td>
            <td>{{entry.data.latest_data.confirmed}}</td>
            <td>{{entry.data.latest_data.calculated.death_rate}}</td>

          </tr>
        </tbody>
      </table>
    </td>
  
    <td>
      <table class="table" width="25%">
        <thead class="thead-light" width="25%">
          <tr width="25%">
            <th scope="col">Capital</th>
            <th scope="col">Temp. °C</th>
            <th scope="col">Humidity</th>
            <th scope="col">AQI</th>
          </tr>
        </thead>
        <tbody>
          <tr class="pointer" *ngFor="let entry of meteoDataArray">
            <th scope="row"> {{entry.data.timezone}}</th>
            <td>{{entry.data.current.temperature}}</td>
            <td>{{entry.data.current.relHumidity}}</td>
            <td alt="Air Quality Index">{{entry.data.current.airQualityIndex}}</td>

          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>

