*{
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: auto;
}

.main_wrapper{
    display: flex;
    flex-wrap: row;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.canvas_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.canvas{
    width: 100%;
    height: auto;
}
.title{
    font-size: 2vw;
}
.title-2{
    font-size: 25pt;
    text-align: center;
}