<body>
  <div >
  <br>
    <div>
      <h1 id="title-2">Analisi tra temperature e casi di Covid in Europa</h1>
    </div>
    <br>

    <div id="contenitore">
      <div class="box">
        <br>
        <h2 class="title">Temperatures</h2><br>
        <canvas id="meteo-grafico1"></canvas><br>
      </div>      
      <div class="box"><br>
        <h2 class="title">Cases</h2><br>
        <canvas id="covid-grafico1" class="canvas chart-area"></canvas><br>
      </div>

    </div>
  </div>
 <br>



 <div id="contenitore">
  <div class="box"><br>
    <h2 class="title">Umidity</h2>
  <br>
    <canvas id="meteo-grafico2" class="canvas chart-area"></canvas><br>
  </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</body>
